


nav ul {
	background-color: orange;
	display: flex;
	justify-content:center;


li {
	display:inline-block;
	padding:10px;
	background-color: black;

	a {
		display: inline-block;
		color:white;
		font-family: arial;
		font-size:16px;
		text-transform: uppercase;
	}	



}


}

}

