// nav {
// 	@extend %glavna_pozadina;
// 	ul {
// 		li {
// 			a {
// 				text-decoration: none;
// 				color: $glavna_boja;
// 			}
// 		}
// 	}
// }

// p span {
// 	@include strong(yellow);
// }

// div span {
// 	@include strong(red);
// }

// div {
// 	@extend %em;
// }

header#nikola-nav {
	position: absolute;
	left: 0;
	height: 100%;
	width: 200px;
	background-color: #ed1c24;
}

header#nikola-nav * {
	color: #fff;
}