@import "reset";
@import "global";

body main {
	background-color: $druga_boja;

	h1 {
		color: $glavna_boja;

		span {
			color: $druga_boja;
		}
	}

	p {
		color: $glavna_boja;
	}

	h2 {
		color: $glavna_boja;
	}
}